:root {
    --hd-space-sm: 4px;
    --hd-space-md: 8px;
    --hd-space-lg: 16px;
    --hd-space-xl: 24px;
    --hd-space-xxl: 32px;
    --hd-space-xxxl: 40px;
    --hd-space-xxxxl: 48px;
    --hd-space-xxxxxl: 56px;
    --hd-space-xxxxxxl: 64px;
}