@use "../../../stylesheets/placeholders";

//Charts Colors
$chart-fill-blueLight: #00bcf2;
$chart-fill-red: #ff6666;
$chart-fill-mintGreen: #69c8ab;
$chart-fill-turquoise: #23b3d5;
$chart-fill-middleGray: #4a4a4a;
$chart-fill-peach: #ffb47d;
$chart-text-color-dark: #fff;
$chart-text-color-light: #000;

.ChartWrapper {
  @extend %box;
  padding: 30px;
  border-radius: 15px;
}
