@font-face {
    font-family: "Segoe UI";
    font-style: normal;
    font-weight: 100;
    src: url("../app/fonts/segoe-ui/SegoeUI-Light.woff2") format("woff2");
  }
  
  @font-face {
    font-family: "Segoe UI";
    font-style: normal;
    font-weight: 300;
    src: url("../app/fonts/segoe-ui/SegoeUI-SemiLight.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Segoe UI";
    font-style: normal;
    font-weight: 400;
    src: url("../app/fonts/segoe-ui/SegoeUI.woff2") format("woff2");
  }
  
  @font-face {
    font-family: "Segoe UI";
    font-style: normal;
    font-weight: 600;
    src: url("../app/fonts/segoe-ui/SegoeUI-SemiBold.woff2") format("woff2");
  }
  
  @font-face {
    font-family: "Segoe UI";
    font-style: normal;
    font-weight: 700;
    src: url("../app/fonts/segoe-ui/SegoeUI-Bold.woff2") format("woff2");
  }
  
  @font-face {
    font-family: "Segoe UI";
    font-style: normal;
    font-weight: 900;
    src: url("../app/fonts/segoe-ui/SegoeUI-Black.ttf") format("woff2");
  }
  