
.section-charts-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.wide-chart-container {
  width: 55%;
}

.narrow-chart-container {
  width: 35%;
}

.wide-chart-container,
.narrow-chart-container {
  margin: 1rem 2rem;
}

