@use "../stylesheets/mixins";
@use "../stylesheets/variables";

.section-charts-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.wide-chart-container {
  width: 55%;
}

.narrow-chart-container {
  width: 35%;
}

.wide-chart-container,
.narrow-chart-container {
  margin: 1rem 2rem;
}

h1 {
  color: #000;
}

/* .btn-primary {
  @extend %button;
  @include button-styles($ms-blue, $white, 16px);
}

.btn-secondary {
  @extend %button;
  @include button-styles($white, $black, 14px);
} */