//MS Blue Colors
$hd-util-blue: #0f6cbd;
$hd-util-dark-blue: #0e4775;
$hd-util-light-blue: #62abf5;
$hd-util-lighter-blue: #b4d6fa;

//Grays
$hd-util-black: #1b1b1b;
$hd-util-clear-black: #333;
$hd-util-darkest-gray: #646464;
$hd-util-dark-gray: #a3a3a3;
$hd-util-medium-dark-gray: #c4c4c5;
$hd-util-medium-gray: #c8c8c8;
$hd-util-light-gray: #dddddd;
$hd-util-white: #fff;

//Status
$hd-util-good: #0f6cbd;
$hd-util-warning: #e8af3b;
$hd-util-unreachable: #cf373b;